.multiselect {
  size: 30;
  height: 50%;
  position: absolute;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: auto;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #D3D3D3 solid;
  background-color: #FFFFFF;
}

#checkboxes label {
  display: block;
  padding-left: 5%;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
